* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-main);
}

h1, h2, p {
  margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}

.divider {
    height: 1px;
    max-width: 420px;
    width: 100%;
    background-color: var(--black-main-color);
    border: none;
    margin: 0 auto;
}